.footer {
  background-color: #d5d4d4;
  padding: 20px;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    font-size: 14px;
    color: #1c1c1c;
    margin: 0;
    letter-spacing: 0.3px;
    text-align: center;
  }

  a {
    color: #007bff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
